body {
    background-color: #E74C3C;
    font-family: 'Playfair Display', serif;
}

.main {
    width: 100vw;
    height: 90vh;
    
}

.data {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 4vw;
}

.regione {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 7vw;
}

.footer {
    width: 100vw;
    height: 10vh;
    
}

.cambio {
    width: 40%;
    height: 90%;
    text-align: center;
    font-size: 1vw;
    display: inline-block;
}

.cambio {
    width: 40%;
    height: 90%;
    text-align: center;
    font-size: 1vw;
    display: inline-block;
}


